# Ignore Environment Variables (Sangat Penting)
**/.env
.env

# Ignore Go Binaries
**/bin/
auth_seed
main
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ignore IDE settings
.vscode/
.idea/

# Ignore log files
*.log

# Ignore OS files
.DS_Store
Thumbs.db

reference